@import "../../scss/main.scss";

%pagination-btn {
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 35px;
  background-color: $color-maize;
  border: none;
  cursor: pointer;
  margin: 20px 8px;
  color: $color-midnight;
  font-variant: small-caps;

  &:hover {
    background-color: $color-lemon;
  }
}

.load {
  //.load-more__btn
  &-more {
    &__btn {
      @extend %pagination-btn;
    }
  }

  //.load-less__btn
  &-less {
    &__btn {
      @extend %pagination-btn;
    }
  }
}
