$dark-teal: #05384b;
$light-orange: #cfaa28;
$color-maize: #e2c044;

%pagination-btn {
  font-size: 16px;
  padding: 6px 15px;
  border-radius: 35px;
  background-color: $color-maize;
  border: none;
  cursor: pointer;
  margin: 20px 8px;
  color: $dark-teal;
  font-variant: small-caps;

  &:hover {
    background-color: $light-orange;
  }
}

.load {
  //.load-more__btn
  &-more {
    &__btn {
      @extend %pagination-btn;
    }
  }

  //.load-less__btn
  &-less {
    &__btn {
      @extend %pagination-btn;
    }
  }
}
