/*----------------------------------------------------------
    Colors
--------------------------------------------------------*/
// ORANGE
$color-charizard: #f0802f;

// GREEN
$color-sea-foam: #00e3e3;
$color-aqua: #0cc7c7;
$color-normal: #a9a978;
$color-bugs-life: #a7b820;
$color-green-apple: #79c951;

// YELLOW
$color-sand: #e0bf67;
$color-maize: #e2c044;
$color-buzz: #f7d12f;
$color-lemon: #cfaa28;
$color-pyramid: #b9a038;

// RED
$color-fairy: #f0b5bd;
$color-fuschia: #f95889;
$color-adobe: #d6563f;

// WHITE/GRAY
$color-smoke: #f5f5f5;
$color-eggshell: #fcf7f7;
$color-cloud: #d5eafd;
$color-steel: #b8b8cf;

// BLUE
$color-bubbles: #b4d9fa;
$colo-alice-blue: #e1f1ff;
$color-iceburg: #97d8d7;
$color-lazer-blue: #0ff;
$color-midday-blue: #3a78ff;
$color-waves: #096082;
$color-deep-sea: #054a64;
$color-midnight: #05384b;

// PURPLE
$color-lavender: #a891f1;
$color-jigglypuff: #ca4bce;
$color-ghost: #705899;
$color-galaxy: #642af8;
