@import "../../scss/main.scss";

%card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: inset -4px -4px $color-cloud;

  &:hover {
    transform: scale(1.05);
  }
}

/* Card
--------------------------------------------------*/
.card {
  @extend %card;
  background: $colo-alice-blue;

  //.card--dark-mode
  &--dark-mode {
    @extend %card;
    background: $color-waves;
    box-shadow: inset -4px -4px $color-deep-sea;
  }

  //.card__header
  &__header {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }

  //.card__img
  &__img {
    width: 120px;
    height: 125px;
    margin: 0 auto;
  }

  //.card__title
  &__title {
    font-size: 15px;

    //.card__title--dark-mode
    &--dark-mode {
      font-size: 15px;
      color: $color-smoke;
    }
  }

  //.card__id
  &__id {
    font-size: 15px;
    margin-left: 18px;
    color: $color-sea-foam;
    font-family: "Pokemon GB", monospace;
  }

  //.card__types
  &__types {
    display: flex;
    justify-content: center;
  }

  //.card__type-text
  &__type-text {
    width: 100%;
    max-width: 80px;
    padding: 6px;
    margin: 5px;
    color: $color-midnight;
    font-size: 10px;
    font-family: "Pokemon GB", monospace;

    //.card__type-text--light
    &--light {
      background: $color-bubbles;
      box-shadow: -2.5px 0 0 0 $color-bubbles, 2.5px 0 0 0 $color-bubbles,
        0 -2.5px 0 0 $color-bubbles, 0 2.5px 0 0 $color-bubbles;
    }

    //.card__type-text--dark
    &--dark {
      background-color: $color-aqua;
      box-shadow: -2.5px 0 0 0 $color-aqua, 2.5px 0 0 0 $color-aqua,
        0 -2.5px 0 0 $color-aqua, 0 2.5px 0 0 $color-aqua;
    }

    /*----------------------------------------------------------
      Pokemon Types
    --------------------------------------------------------*/

    //.card__type-text--grass
    &--grass {
      @include pixel-background($color-green-apple, 2.5px, -2.5px);
    }

    //.card__type-text--poison
    &--poison {
      color: whitesmoke;
      @include pixel-background($color-jigglypuff, 2.5px, -2.5px);
    }

    //.card__type-text--fire
    &--fire {
      @include pixel-background($color-charizard, 2.5px, -2.5px);
    }

    //.card__type-text--flying
    &--flying {
      @include pixel-background($color-lavender, 2.5px, -2.5px);
    }

    //.card__type-text--water
    &--water {
      color: whitesmoke;
      @include pixel-background($color-midday-blue, 2.5px, -2.5px);
    }

    //.card__type-text--bug
    &--bug {
      @include pixel-background($color-bugs-life, 2.5px, -2.5px);
    }

    //.card__type-text--normal
    &--normal {
      @include pixel-background($color-normal, 2.5px, -2.5px);
    }

    //.card__type-text--electric
    &--electric {
      @include pixel-background($color-buzz, 2.5px, -2.5px);
    }

    //.card__type-text--ground
    &--ground {
      @include pixel-background($color-sand, 2.5px, -2.5px);
    }

    //.card__type-text--fairy
    &--fairy {
      @include pixel-background($color-fairy, 2.5px, -2.5px);
    }

    //.card__type-text--fighting
    &--fighting {
      @include pixel-background($color-adobe, 2.5px, -2.5px);
    }

    //.card__type-text--psychic
    &--psychic {
      color: whitesmoke;
      @include pixel-background($color-fuschia, 2.5px, -2.5px);
    }

    //.card__type-text--rock
    &--rock {
      @include pixel-background($color-pyramid, 2.5px, -2.5px);
    }

    //.card__type-text--steel
    &--steel {
      @include pixel-background($color-steel, 2.5px, -2.5px);
    }

    //.card__type-text--ice
    &--ice {
      @include pixel-background($color-iceburg, 2.5px, -2.5px);
    }

    //.card__type-text--ghost
    &--ghost {
      color: whitesmoke;
      @include pixel-background($color-ghost, 2.5px, -2.5px);
    }

    //.card__type-text--dragon
    &--dragon {
      color: whitesmoke;
      @include pixel-background($color-galaxy, 2.5px, -2.5px);
    }
  }
}
