@import "../../scss/main.scss";

.search {
  -webkit-appearance: none;
  border: 1px solid $color-eggshell;
  outline: none;
  border-radius: 35px;
  padding: 5px 20px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 25px;
  background: $color-smoke;
  font-variant-caps: all-small-caps;
}

.search:focus {
  border-radius: 35px;
  border: 2px solid $color-lazer-blue;
  background: none;
}
