@import "../../scss/main.scss";

%search {
  outline: none;
  border-radius: 35px;
  padding: 5px 20px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 25px;
  font-variant-caps: all-small-caps;
  -webkit-appearance: none;
}

.search {
  @extend %search;

  border: 1px solid $color-eggshell;
  background: $color-smoke;

  &--dark-mode {
    @extend %search;

    background: $color-midnight;
    border: 1px solid $color-lazer-blue;

    &::placeholder {
      color: $color-lazer-blue;
    }

    &:focus {
      border-radius: 35px;
      border: 0.5px solid $color-lazer-blue;
      background: none;
    }
  }

  &:focus {
    border-radius: 35px;
    border: 2px solid $color-lazer-blue;
    background: none;
  }
}
