$primary-purple: #4806ff;
$light-teal: #00e3e3;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;

  //.header__text
  &__text {
    font-family: "Courier New", Courier, monospace;
    color: $light-teal;
    font-size: 60px;
    font-weight: 600;
    font-variant: small-caps;
  }

  //.header__img
  &__img {
    width: 50px;
  }
}
