$primary-purple: #4806ff;
$light-teal: #00e3e3;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;

  //.header__text
  &__text {
    color: $light-teal;
    font-size: 35px;
    font-family: "Pokemon GB", monospace;
  }

  //.header__img
  &__img {
    width: 50px;
  }
}
