@import "../../scss/main.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  font-size: 30px;
  font-family: "Pokemon GB", monospace;

  //.header__text
  &__text {
    color: $color-midnight;

    //.header__text--dark-mode
    &--dark-mode {
      color: $color-sea-foam;
    }
  }

  //.header__img
  &__img {
    width: 50px;
  }
}
