@import "./scss/main.scss";

@font-face {
  font-family: "Pokemon GB";
  src: url("https://cdn.rawgit.com/Superpencil/pokemon-font/d36892e5/fonts/pokemon-font.eot");
  src: url("https://cdn.rawgit.com/Superpencil/pokemon-font/d36892e5/fonts/pokemon-font.woff");
  font-weight: 400;
}

%btn {
  margin-left: 15px;
  background: none;
  text-align: center;
  font-size: 10px;
  padding: 6px 10px;
  font-family: "Pokemon GB", monospace;
  cursor: pointer;
  border: none;
}

.app {
  text-align: center;
  &__btn {
    @extend %btn;

    box-shadow: inset 2.5px 0 0 0 $color-midnight,
      inset -3.5px 0 0 0 $color-midnight, 0 -2.5px 0 0 $color-midnight,
      inset 0 -3.5px 0 0 $color-midnight;
    color: $color-midnight;

    &::after {
      box-shadow: -2.5px 0 0 0 $color-midnight, 2.5px 0 0 0 $color-midnight,
        0 -2.5px 0 0 $color-midnight, 0 2.5px 0 0 $color-midnight;
    }

    //.app__btn--dark-mode
    &--dark-mode {
      @extend %btn;

      box-shadow: inset 1.5px 0 0 0 $color-lazer-blue,
        inset -1.5px 0 0 0 $color-lazer-blue, 0 -1.5px 0 0 $color-lazer-blue,
        inset 0 -3px 0 0 $color-lazer-blue;
      color: $color-lazer-blue;
    }
  }

  //.app--dark-mode
  &--dark-mode {
    text-align: center;
    background: $color-midnight;
    color: white;
  }
}

.not-found {
  //.not-found__img
  &__img {
    width: 100%;
    max-width: 300px;
  }
}
