@import "./scss/main.scss";

@font-face {
  font-family: "Pokemon GB";
  src: url("https://cdn.rawgit.com/Superpencil/pokemon-font/d36892e5/fonts/pokemon-font.eot");
  src: url("https://cdn.rawgit.com/Superpencil/pokemon-font/d36892e5/fonts/pokemon-font.woff");
  font-weight: 400;
}

%btn {
  margin-left: 15px;
  border-radius: 5px;
  text-align: center;
  background: none;
  font-size: 10px;
  padding: 6px 10px;
  font-family: "Pokemon GB", monospace;
}

.app {
  text-align: center;
  &__btn {
    @extend %btn;

    border: solid 1px $color-midnight;
    color: $color-midnight;

    //.app__btn--dark-mode
    &--dark-mode {
      @extend %btn;

      border: solid 1px $color-lazer-blue;
      color: $color-lazer-blue;
    }
  }

  //.app--dark-mode
  &--dark-mode {
    text-align: center;
    background: $color-midnight;
    color: white;
    height: 100vh;
  }
}

.not-found {
  //.not-found__img
  &__img {
    width: 100%;
    max-width: 300px;
  }
}
